@model IEnumerable<appWeb2.Models.VideoJuegos>
@{
    ViewData["Title"] = "Home Page";
    
}

<h2>
    Videojuegos Disponibles
</h2>

<div class="row">
    @foreach (var juegos in Model)
    {
        <div class=" col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">@juegos.titulo</h5>
                    <p class="card-text">@juegos.descripcion</p>
                    <p><strong>Categoria:</strong>@juegos.categoria</p>
                    <p><strong>Precio:</strong>@juegos.precio</p>
                </div>
            </div>
       </div>
    }
</div>

